.main-stories {
    display: flex;
    margin: 10px 0;
  }
  
  .main-storiesCard {
    width: 19%;
    margin-right: 1%;
    padding-top: 25%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  
  .main-storiesCard p {
    color: white;
    font-size: 14px;
    padding: 10px;
  }